#home{
	background: linear-gradient(to right,#ffc107,#F27121);
	color: white;
	font-weight: 600;
}

.navbar{
	position: sticky;
	top: 0;
	z-index: 10;
	background-image: linear-gradient(to right,#ffc107,#F27121);
	padding: 0 !important;
}

.navbar-nav li a {
	font-weight: 600;
	float: rigth;
	text-align: left;
}


.caixa {
	
	border-bottom: 1px solid #e5e5e5;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*botão*/
.main-btn {
	margin-top: 30px;
	background-image: linear-gradient(to right,#ffc107,#F27121);
	color: #d0ef8e;
	border-radius: 30px;
	border: 3px solid #F27121;
	transition: 0.5s;
  }
  
  .main-btn:hover {
	text-decoration: none;
	background-image: linear-gradient(to right,#ffc107,#F27121);
	background-color: #d0ef8e;
	border-color: #F27121;
  }
  
  .btn-primary {
	background-image: linear-gradient(to right,#ffc107,#F27121);
  }
  
  .btn-primary:hover {
	background-image: linear-gradient(to right,#ffc107,#F27121);
	border-color: #F27121;
  }
  

footer p a {
	margin: 5px 15px;
}

.imginicio{
width: 600px;
}

.bottom-img{
	width: 100%;
}

.sobre{
	padding: 20px;
}
.sobre h4{
	padding: 5px;
	margin-top: 25PX;
	text-transform: uppercase;
}

.title::before{
		content:'';
		background: #F27121;
		height: 5px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(63px);
		color: blue;
}

.title::after{
		content:'' ;
		background: #F27121;
		height: 10px;
		width: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		display: block;
		transform: translateY(8px);
		color: blue;

	}

#sobre .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right,#ffc107,#F27121);
}	

#depoimentos{
	margin: 100px 0;	
}

.depoimentos{
	border-left: 4px solid #F27121;
	margin-top: 50px;
	margin-bottom: 50px;
}

.depoimentos img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 10px;
}

.user-details{
	display: inline-block ;
	font-size: 12px;
}

.caixa .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right,#ffc107,#F27121);
}	

#redes-sociais{
	padding: 100px 0;
}
#redes-sociais p{
font-size: 36px;
font-weight: 600;
margin-bottom: 30px;
}

.social-icons img{
	width: 60px;
	transition: 0,5s;
}

.social-icons a:hover img{
	transform: translateY(-10px);
}

#footer{
	background-image: linear-gradient(to right,#ffc107,#F27121);
	color: #fff;
}

.footer-img{
	width: 100%;
}

.footer-box{
	padding: 20px;
}

.footer-box img{
	 width: 200px;
	 margin-bottom: 20px;
}

.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 2 px;
	border-radius: 2px;
	background-image: linear-gradient(to right,#ffc107,#F27121);
}

.footer-box .form-control{
	box-shadow: none!important;
	border: none;
	margin-top: 25px;
	max-width: 250px;
}

.footer-box .btn-primary{
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right,#ffc107,#F27121);
}

hr{
	background-color: white;
}
.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}